@charset "UTF-8";
/* CSS Document */
/*Sandlight CoR/Abstract Factory CMS
 008844 (sandlight green) ; 8AA54E (almost avocado) #DBE3C7(30%); F5AF4D (dusty gold)FDE7C7 (30%); eee (whiteish) ; 000(black) */

body
{
    font-family:Verdana, Helvetica, Arial, sans-serif;
    background-color: #eee;
    color: #000 ;
    margin-left: 20px;
    font-size: 16px;
}

/* Two column setup */
.col
{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.spanner
{
	width: 49.2%;
}

a
{
    text-decoration: none;
    color:#008844;
}
a:hover
{
    color:#8aa54e;
}

h2
{
    color:#008844;
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom:10px;
    width:75%;
}

h3
{
    color: #000;
    padding: 5px 5px 0px 1em;
    background-color:#D0DCB7;
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    width:75%;
}

.topicImage
{
    padding-right:6px;
    float:left;
}

.imgcenter
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.txtcen
{
    text-align:center;
}

fieldset
{
    margin-left: 4%;
    width: 25%;
}

div
{
    margin-left: .8%;
}

select
{
    color:#008844;
}

iframe
{
    background-color: #FDE7C7;
    border: none;
}